body {
    background: rgb(63,215,251);
    background: -moz-radial-gradient(circle, rgba(63,215,251,1) 0%, rgba(103,70,252,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63,215,251,1) 0%, rgba(103,70,252,1) 100%);
    background: radial-gradient(circle, rgba(63,215,251,1) 0%, rgba(103,70,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3fd7fb",endColorstr="#6746fc",GradientType=1);
}

h1 {
    color: #fff;
}